In [2]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
print(tbl2)

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [10]:
def pregunta_01():
    return len(tbl0)

In [11]:
print(pregunta_01())

40

In [37]:
def pregunta_02():
    return tbl0.shape[1]

In [46]:
tbl0.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [86]:
tbl0.groupby(['_c1'])['_c1'].count()

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [135]:
def pregunta_06():
    """
    Retorne una lista con los valores unicos de la columna _c4 de del archivo `tbl1.csv`
    en mayusculas y ordenados alfab√©ticamente.

    Rta/
    ['A', 'B', 'C', 'D', 'E', 'F', 'G']

    """
    lista=list()
    lista_0=list(tbl1['_c4'].unique())
    length=len(list(tbl1['_c4'].unique()))
    for i in range(length):
        lista.append(lista_0[i].upper())
    return sorted(lista)

In [136]:
print(pregunta_06())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [146]:
def pregunta_08():
    """
    Agregue una columna llamada `suma` con la suma de _c0 y _c2 al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  suma
    0     0   E    1  1999-02-28     1
    1     1   A    2  1999-10-28     3
    2     2   B    5  1998-05-02     7
    ...
    37   37   C    9  1997-07-22    46
    38   38   E    1  1999-09-28    39
    39   39   E    5  1998-01-26    44

    """
    tbl0['suma'] == tbl0['_c0']+tbl0['_c2']
    return tbl0

In [154]:
tbl0 = tbl0['_c3'].str[:4] 
tbl0

KeyError: '_c3'