In [2]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
print(tbl2)

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [10]:
def pregunta_01():
    return len(tbl0)

In [11]:
print(pregunta_01())

40

In [37]:
def pregunta_02():
    return tbl0.shape[1]

In [46]:
tbl0.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [86]:
tbl0.groupby(['_c1'])['_c1'].count()

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [65]:
x.size()

_c1
A     8
B     7
C     5
D     6
E    14
dtype: int64