In [2]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
print(tbl2)

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [10]:
def pregunta_01():
    return len(tbl0)

In [11]:
print(pregunta_01())

40

In [37]:
def pregunta_02():
    return tbl0.shape[1]

In [46]:
tbl0.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [86]:
tbl0.groupby(['_c1'])['_c1'].count()

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [135]:
def pregunta_06():
    """
    Retorne una lista con los valores unicos de la columna _c4 de del archivo `tbl1.csv`
    en mayusculas y ordenados alfab√©ticamente.

    Rta/
    ['A', 'B', 'C', 'D', 'E', 'F', 'G']

    """
    lista=list()
    lista_0=list(tbl1['_c4'].unique())
    length=len(list(tbl1['_c4'].unique()))
    for i in range(length):
        lista.append(lista_0[i].upper())
    return sorted(lista)

In [136]:
print(pregunta_06())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [141]:
tbl0['suma'] = tbl0[.sum(axis=1)]
tbl0

C:\Users\mendo\miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28     3
1     1   A    2  1999-10-28     9
2     2   B    5  1998-05-02    21
3     3   A    3  1999-08-28    18
4     4   C    6  1999-12-01    30
5     5   A    7  1998-07-28    36
6     6   A    9  1997-02-28    45
7     7   B    1  1999-05-10    24
8     8   E    2  1997-04-12    30
9     9   B    3  1999-11-23    36
10   10   C    7  1998-01-17    51
11   11   C    5  1998-12-28    48
12   12   D    3  1999-10-15    45
13   13   E    8  1998-11-01    63
14   14   B    9  1999-08-12    69
15   15   D    1  1997-12-01    48
16   16   E    3  1997-07-28    57
17   17   D    5  1998-08-12    66
18   18   E    8  1999-08-24    78
19   19   E    9  1998-01-23    84
20   20   E    7  1999-06-22    81
21   21   E    3  1999-04-24    72
22   22   D    5  1999-06-25    81
23   23   A    1  1999-08-25    72
24   24   E    4  1997-07-26    84
25   25   E    6  1997-09-24    93
26   26   A    8  1997-09-28   102
27   27   E    5  1999-06-22    96
28   28   A    6  1999-07-29   102
29   29   C    0  1999-08-22    87
30   30   A    1  1998-04-26    93
31   31   D    2  1998-02-24    99
32   32   E    5  1999-03-24   111
33   33   B    4  1998-03-23   111
34   34   B    6  1999-04-21   120
35   35   D    7  1999-02-29   126
36   36   B    8  1997-05-21   132
37   37   C    9  1997-07-22   138
38   38   E    1  1999-09-28   117
39   39   E    5  1998-01-26   132