In [2]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
print(tbl2)

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [10]:
def pregunta_01():
    return len(tbl0)

In [11]:
print(pregunta_01())

40

In [37]:
def pregunta_02():
    return tbl0.shape[1]

In [46]:
tbl0.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [78]:
= tbl0.groupby("_c1")["last_name"].count()

    _c0 _c1  _c2         _c3
0     0   E    1  1999-02-28
1     1   A    2  1999-10-28
2     2   B    5  1998-05-02
3     3   A    3  1999-08-28
4     4   C    6  1999-12-01
5     5   A    7  1998-07-28
6     6   A    9  1997-02-28
7     7   B    1  1999-05-10
8     8   E    2  1997-04-12
9     9   B    3  1999-11-23
10   10   C    7  1998-01-17
11   11   C    5  1998-12-28
12   12   D    3  1999-10-15
13   13   E    8  1998-11-01
14   14   B    9  1999-08-12
15   15   D    1  1997-12-01
16   16   E    3  1997-07-28
17   17   D    5  1998-08-12
18   18   E    8  1999-08-24
19   19   E    9  1998-01-23
20   20   E    7  1999-06-22
21   21   E    3  1999-04-24
22   22   D    5  1999-06-25
23   23   A    1  1999-08-25
24   24   E    4  1997-07-26
25   25   E    6  1997-09-24
26   26   A    8  1997-09-28
27   27   E    5  1999-06-22
28   28   A    6  1999-07-29
29   29   C    0  1999-08-22
30   30   A    1  1998-04-26
31   31   D    2  1998-02-24
32   32   E    5  1999-03-24
33   33   B    4  1998-03-23
34   34   B    6  1999-04-21
35   35   D    7  1999-02-29
36   36   B    8  1997-05-21
37   37   C    9  1997-07-22
38   38   E    1  1999-09-28
39   39   E    5  1998-01-26

In [62]:
y.groups.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [65]:
x.size()

_c1
A     8
B     7
C     5
D     6
E    14
dtype: int64