In [159]:
import pandas as pd
import numpy as np

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [5]:
print(tbl2)

     _c0 _c5a  _c5b
0      0  jjj     3
1      0  bbb     0
2      0  ddd     9
3      0  ggg     8
4      0  hhh     2
..   ...  ...   ...
170   38  iii     2
171   38  eee     0
172   39  hhh     8
173   39  ggg     3
174   39  jjj     5

[175 rows x 3 columns]

In [10]:
def pregunta_01():
    return len(tbl0)

In [11]:
print(pregunta_01())

40

In [37]:
def pregunta_02():
    return tbl0.shape[1]

In [46]:
tbl0.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [86]:
tbl0.groupby(['_c1'])['_c1'].count()

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [135]:
def pregunta_06():
    """
    Retorne una lista con los valores unicos de la columna _c4 de del archivo `tbl1.csv`
    en mayusculas y ordenados alfab√©ticamente.

    Rta/
    ['A', 'B', 'C', 'D', 'E', 'F', 'G']

    """
    lista=list()
    lista_0=list(tbl1['_c4'].unique())
    length=len(list(tbl1['_c4'].unique()))
    for i in range(length):
        lista.append(lista_0[i].upper())
    return sorted(lista)

In [136]:
print(pregunta_06())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [146]:
def pregunta_08():
    """
    Agregue una columna llamada `suma` con la suma de _c0 y _c2 al archivo `tbl0.tsv`.

    Rta/
        _c0 _c1  _c2         _c3  suma
    0     0   E    1  1999-02-28     1
    1     1   A    2  1999-10-28     3
    2     2   B    5  1998-05-02     7
    ...
    37   37   C    9  1997-07-22    46
    38   38   E    1  1999-09-28    39
    39   39   E    5  1998-01-26    44

    """
    tbl0['suma'] == tbl0['_c0']+tbl0['_c2']
    return tbl0

In [163]:
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

tbl0.groupby(['_c1'],['_c2'])['_c3']

    """
    Construya una tabla que contenga _c1 y una lista separada por ':' de los valores de
    la columna _c2 para el archivo `tbl0.tsv`.

    Rta/
                                   _c1
      _c0
    0   A              1:1:2:3:6:7:8:9
    1   B                1:3:4:5:6:8:9
    2   C                    0:5:6:7:9
    3   D                  1:2:3:5:5:7
    4   E  1:1:2:3:3:4:5:5:5:6:7:8:8:9
    """

IndentationError: unexpected indent (Temp/ipykernel_37556/3500489826.py, line 7)

In [193]:
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

f = {'_c3': 'sum'}
#df.groupby(['month', 'UPC_ID'], as_index=False).agg(f)

y=tbl0.groupby(['_c1','_c2'], as_index=False).agg(f)
y=y.drop(['_c3'], axis=1)
y

#df1_transposed = y.T 
#df1_transposed

   _c1  _c2
0    A    1
1    A    2
2    A    3
3    A    6
4    A    7
5    A    8
6    A    9
7    B    1
8    B    3
9    B    4
10   B    5
11   B    6
12   B    8
13   B    9
14   C    0
15   C    5
16   C    6
17   C    7
18   C    9
19   D    1
20   D    2
21   D    3
22   D    5
23   D    7
24   E    1
25   E    2
26   E    3
27   E    4
28   E    5
29   E    6
30   E    7
31   E    8
32   E    9